*{
    margin:0;
    padding:0;
}
body {
     background-color: #548687;
    text-align: center;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    
}
.container {
    height:450px;
    width:450px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.game {
    height:320px;
    width:320px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:2px;

}
.t {
    height:100px;
    width:100px;
    font-size: 50px;
    color:red;
    background-color: antiquewhite;
}
#r {
    background-color:#2D3047;
    color:white;
    height:50px;
    width:150px;
    border:1.5px solid black;
}
h1 {
    color:white;
    font-size: 30px;
    margin-top: 30px;;
}
.wt {
    height:200px;
    width:450px;
}
.win {
    color:black !important;
    background-color: goldenrod !important;
    display: flex;
    text-align: center;
    justify-content: center;
}
